POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=student_roster
DATABASE_URL=postgresql://postgres:yourpassword@db:5432/student_roster
SECRET_KEY=some-random-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=30
ENVIRONMENT=development
ALLOWED_ORIGINS=htt://localhost:3000